/*CSS Reset*/
* {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: auto;
    margin: 0 auto;
}

.display-flex { 
    display: flex;
}

.column {
    flex-direction: column;
}

.centered {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}
.rounded {
    border-radius: 8px;
}

.circle {
    border-radius: 50%;
}

.shadow {
    box-shadow: 5px 5px 5px black;
}

.btn {
    color: azure;
    background-color: dodgerblue;
    width: 100px;
    height: 30px;
    font-size: medium;
    border-style: none;
}
/* Master */

.margin {
    margin: 10px;
}

.top-navbar {
    height: 80px;
    background-color: darkslategrey ;
}

.left-container {
    flex: 3;
    height: 600px;
    background-color: darkolivegreen;
}

.right-container {
    flex: 2;
    height: 600px;
    background-color: darkslategrey;
}

.margin-left {
    margin-left: 10%;
}

.margin-right {
    margin-right: 10%;
}

.nav-links {
    flex: 3;
    justify-content: space-between;
}

.nav-links a {
    color: azure;
    text-decoration: none;
}

.active {
    color: azure;
    font-weight: bolder;
    text-shadow: 2px 2px 2px black; /* txt shadow */
} 

.button {
    flex: 2;
    justify-content: flex-end;
}

.profile {
    height: 50%;
}

.education {
    height: 40%;
    width: auto;
    background-color: dimgray;
}

.nav-icon {
    height: 20px;
    padding-right: 7px;
}

.header {
    height: 50px;
    background-color: dodgerblue;
}

.header-2 {
    height: 40px;
    background-color: midnightblue;
    color: azure;
    width: auto;
}

.requests-box {
    height: 30%;
}

.connections-box {
    height: 60%;
}

h3 {
    padding-top: 10px;
    padding-left: 10px;
}

.content-box {
    flex-grow: 1;
}
